In [1]:
import numpy as np
import pandas as pd

In [2]:
list=[4,5,6]

pd.Series(list)

0    4
1    5
2    6
dtype: int64

In [6]:
list=[2,3,45,]

pd.Series(data=list, index=["a","b", "c"])

a     2
b     3
c    45
dtype: int64

In [10]:
arr=np.arange(0, 6)
str=pd.Series(data=arr, index=["a","b","c","d","e","f"])

print(str)

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32

In [12]:
d={1:"one", 2:"Two", 3:"Three", 4:"Four"}
se=pd.Series(d)

print(se)

1      one
2      Two
3    Three
4     Four
dtype: object

In [14]:
arr=np.arange(0, 6)
str=pd.Series(arr)

print(str)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [18]:
ser1=pd.Series([1,2,3], ["a", "b", "c"])

ser2=pd.Series([3,4,5], ["c", "e", "a"])

print(ser1+ser2)

a    6.0
b    NaN
c    6.0
e    NaN
dtype: float64